
@using DataAccessLayer
@model List<SalaryReportByDateDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">

        <div class="header-body">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">İllik</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="@Url.Action("report","reports")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form action="@Url.Action("salaryeachuserreportbyyear", "reports")">
                                <div class="form-group">
                                    <label for="DateYear">İlə görə axtarış</label>
                                    <input autocomplete="off" type="text" class="form-control datepickeryear" onchange="this.form.submit();" name="Year" id="DateYear" data-provide="datepicker" placeholder="Tarix">
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">

                                    <tr>
                                        <th scope="col">İl</th>
                                        <th scope="col">Məbləğ</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Date.Value.ToString("yyyy")</td>
                                            <td>@item.Total.Value.ToString("0.00")</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
