@using SalaryCalc.Models
@model List<Postion>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center mt-5">Vəzifələr</h1>


    <form id="myForm" method="post" action="@Url.Action("create","users")">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <div class="form-row">
                    <label for="Name">İstifadəçi Adı</label>
                    <input type="text" required class="form-control" name="UserName" id="Name" placeholder="İstifadəçi Adı">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">
                    <label for="FullName">Adı Soyadı</label>
                    <input type="text" required class="form-control" name="FullName" id="FullName" placeholder="Adı Soyadı">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">
                    <label for="Email">Email</label>
                    <input type="text" required class="form-control" name="Email" id="Email" placeholder="Email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">
                    <label for="Password">Şifrə</label>
                    <input type="password" required class="form-control" name="Password" id="Password" placeholder="Şifrə">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">
                    <label for="ConfirmPassword">Şifrə Təkrarı</label>
                    <input type="password" required class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Şifrə Təkrarı">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">
                    <label for="Position">Vəzifə</label>
                    <select class="form-control" required name="PostionId">
                        <option value="">Secin</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                </div>
            </div>


        </div>
        <button type="submit" class="btn btn-primary mt-4">Sign in</button>

    </form>


</div>
