
@using SalaryCalc.Models
@model User

@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">

                                <div class="col-10">
                                  Şifrəni Dəyiş
                                </div>
                                <div class="col-2 text-right">
                                    <a href="@Url.Action("index","users")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="pl-lg-4">
                                <form method="post" action="@Url.Action("passwordchange","users")">
                                    @Html.AntiForgeryToken()
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label" for="OldPassword">Köhnə Şifrə</label>
                                                <input type="password" class="form-control" name="OldPassword" id="OldPassword" placeholder="Köhnə Şifrə"
                                                       data-validation="server" data-validation-url="@Url.Action("checkuserspassword","users")">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label" for="Password">Şifrə</label>
                                                <input type="password" class="form-control" name="Password" id="Password" placeholder="Şifrə"
                                                       data-validation="length" data-validation-length="min8" data-validation-error-msg="Daxil etdiyiniz şifrə ən azı 8 simvol olmalıdı">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label" for="ConfirmPassword">Şifrə Təkrarı</label>
                                                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Şifrə Təkrarı"
                                                       data-validation="confirmation" data-validation-confirm="Password" data-validation-error-msg="Şifrə təkrarı düzgün deyil">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-2 mb-3">
                                        <div class="col-md-2 offset-10 float-right">
                                            <button class="btn btn-success" type="submit">Yadda Saxla</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


