
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h1 class="text-center mt-5">Rollar</h1>
<a class="btn btn-success text-lg-right" href="@Url.Action("create","roles")">Yarat</a>
</div>
