
@{
    ViewBag.Title = "CalcMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-md-2">

                                        <a href="javascript:void(0)"
                                           class="btn btn-sm btn-success calcbutton" data-text="{ayliqgelir}">
                                            <i class="ni ni-fat-add"></i>
                                            Aylıq Hesablamaq
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="javascript:void(0)"
                                           class="btn btn-sm btn-success calcbutton" data-text="{illikgelir}">
                                            <i class="ni ni-fat-add"></i>İllik Hesablamaq
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="startNumber">Ədəd(Məbləğ-Digər işçilərin satış cəmi)</label>
                                            <input autocomplete="off" type="text" class="form-control-sm allow_decimal"
                                                   name="StartNumber" id="startNumber" placeholder="Ədəd">
                                            <select class="form-control-sm" required name="NumberAddMonthOrYear">
                                                <option value="">Seçin</option>

                                                <option value="ayliq">Aylıq</option>

                                                <option value="illik">İllik</option>
                                            </select>
                                            <button class="btn btn-sm btn-info" id="NumberAdd">Məbləğ</button>
                                            <small id="emailHelp" class="form-text text-muted ml-3">Verilmiş ədədi keçərsə</small>

                                        </div>
                                    </div>
                                 
                                    <div class="col-2 text-right">
                                        <a href="@Url.Action("index","calculation")" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="Position">İşçilər</label>
                                            <select class="form-control" required name="PinCod">
                                                <option value="">Seçin</option>
                                                @foreach (var item in ViewBag.Users)
                                                {
                                                    <option value="@item.PinCod">@item.UserName</option>
                                                }

                                            </select>
                                            <input type="hidden" name="HiddenPinCod" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="Position">Aylıq və ya İllik</label>
                                            <select class="form-control" required name="CalcMethod">
                                                <option value="">Seçin</option>
                                            </select>
                                            <input type="hidden" name="HiddenCalcMethod" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <a href="javascript:void(0)"
                                           class="btn btn  btn-success" id="calcAddUser" data-text="">
                                            <i class="ni ni-fat-add"></i>Əlavə Et
                                        </a>
                                    </div>
                            
                                        <small id="emailHelp" class="form-text text-muted ml-3">({ayliqgelir} * 30) / 100 bu şəkildə yazılacaq.</small>

                                    </div>
                                </div>
                             
                            <div class="card-body">
                                <div class="pl-lg-4">

                                    <form action="@Url.Action("calcmethod","calculation")" method="post">

                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4">Adı</label>
                                                <input autocomplete="off" type="text" class="form-control" name="Name" id="inputEmail4" placeholder="Adı"
                                                       data-validation="required" data-validation-error-msg="Qeyd edin">
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label for="Formula">Hesablama Metodu</label>
                                               
                                                <input autocomplete="off" type="text" class="form-control" name="Formula" id="Formula" placeholder="Hesablama Metodu"
                                                       data-validation="required" data-validation-error-msg="Qeyd edin">
                                                <small id="emailHelp" class="form-text text-muted">(({illikgelir} * 2) / 100 bu şəkildə yazılacaq.</small>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-2 offset-10 float-right">
                                                <button class="btn btn-success" type="submit">Yadda Saxla</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                                    </div>
                                </div>
            </div>
        </div>
    </div>