
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("calcmethod","calculation")" class="btn btn-primary">Hesablama Methodu Yarat</a>
        </div>
    </div>
</div>